<td><%= session_id %></td>
<td><%= started_by %></td>
<td><%= build_created_at %></td>
<td><%= summary_status %></td>
<td><%= duration %></td>
<td><%= worker_time %></td>
<td><%= bundle_time %></td>
<td><%= num_workers %></td>
<td><%= branch %></td>
<td><%= commit_id %></td>
